body{background-color:#000;
h1{font-size:1em;}

.navigation{width:50px;float:right;border:1px solid red;}
.navigation ul{list-style-type:none;margin:0;padding:0;}
.navigation ul li{list-style-position: inside;float:left;margin-right:0px;}
.navigation ul li a{text-decoration: none;}

#hamburger{display:none;}