body{background-color:grey;}
h1{font-size:4em;}
.navigation{width:50px;float:right;border:1px solid white;}
.navigation ul{list-style-type:none;margin:0;}
.navigation ul li{list-style-position: inside;float:left;margin-right:20px;}
.navigation ul li a{text-decoration: none;width:100%;}
